<a href="https://colab.research.google.com/github/Adityasingh675/Supervised-ML-Regression/blob/main/Rossmann_Sales_Prediction_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Sales Prediction : Predicting sales of a major store chain Rossmann</u></b>

## <b> Problem Description </b>

### Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality. With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied.

### You are provided with historical sales data for 1,115 Rossmann stores. The task is to forecast the "Sales" column for the test set. Note that some stores in the dataset were temporarily closed for refurbishment.

## <b> Data Description </b>

### <b>Rossmann Stores Data.csv </b> - historical data including Sales
### <b>store.csv </b> - supplemental information about the stores


### <b><u>Data fields</u></b>
### Most of the fields are self-explanatory. The following are descriptions for those that aren't.

* #### Id - an Id that represents a (Store, Date) duple within the test set
* #### Store - a unique Id for each store
* #### Sales - the turnover for any given day (this is what you are predicting)
* #### Customers - the number of customers on a given day
* #### Open - an indicator for whether the store was open: 0 = closed, 1 = open
* #### StateHoliday - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None
* #### SchoolHoliday - indicates if the (Store, Date) was affected by the closure of public schools
* #### StoreType - differentiates between 4 different store models: a, b, c, d
* #### Assortment - describes an assortment level: a = basic, b = extra, c = extended
* #### CompetitionDistance - distance in meters to the nearest competitor store
* #### CompetitionOpenSince[Month/Year] - gives the approximate year and month of the time the nearest competitor was opened
* #### Promo - indicates whether a store is running a promo on that day
* #### Promo2 - Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store is participating
* #### Promo2Since[Year/Week] - describes the year and calendar week when the store started participating in Promo2
* #### PromoInterval - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

# Mount the Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Import necessary libraries and files

In [2]:
# Import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [66]:
# Import the files

path_rossmann = '/content/drive/MyDrive/Almabetter/Rossmann Sales Prediction - Aditya Singh/data/Rossmann Stores Data.csv'
rossmann_stores_df = pd.read_csv(path_rossmann)

path_store = '/content/drive/MyDrive/Almabetter/Rossmann Sales Prediction - Aditya Singh/data/store.csv'
store_df = pd.read_csv(path_store)

# Check the dataframes

## Checking Rossmann_stores_df

In [4]:
# Print shape of the Rossmann_Stores_df

print('Rossmann_stores_df has {} rows'.format(rossmann_stores_df.shape[0]))
print('Rossmann_stores_df has {} columns'.format(rossmann_stores_df.shape[1]))

Rossmann_stores_df has 1017209 rows
Rossmann_stores_df has 9 columns

In [5]:
# Check info of the dataframe

rossmann_stores_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [6]:
# Check head of the dataframe

rossmann_stores_df.head(5)

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

In [7]:
# Check tail of the dataframe
rossmann_stores_df.tail(5)

         Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
1017204   1111          2  2013-01-01  ...      0             a              1
1017205   1112          2  2013-01-01  ...      0             a              1
1017206   1113          2  2013-01-01  ...      0             a              1
1017207   1114          2  2013-01-01  ...      0             a              1
1017208   1115          2  2013-01-01  ...      0             a              1

[5 rows x 9 columns]

In [8]:
# Check description of the dataframe
rossmann_stores_df.describe(include='all')

               Store     DayOfWeek  ... StateHoliday  SchoolHoliday
count   1.017209e+06  1.017209e+06  ...      1017209   1.017209e+06
unique           NaN           NaN  ...            5            NaN
top              NaN           NaN  ...            0            NaN
freq             NaN           NaN  ...       855087            NaN
mean    5.584297e+02  3.998341e+00  ...          NaN   1.786467e-01
std     3.219087e+02  1.997391e+00  ...          NaN   3.830564e-01
min     1.000000e+00  1.000000e+00  ...          NaN   0.000000e+00
25%     2.800000e+02  2.000000e+00  ...          NaN   0.000000e+00
50%     5.580000e+02  4.000000e+00  ...          NaN   0.000000e+00
75%     8.380000e+02  6.000000e+00  ...          NaN   0.000000e+00
max     1.115000e+03  7.000000e+00  ...          NaN   1.000000e+00

[11 rows x 9 columns]

In [9]:
# Check the null values in the dataframe
rossmann_stores_df.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

There are no null values present in the dataframe.

## Checking Store_df

In [10]:
print('Store_df has {} rows'.format(store_df.shape[0]))
print('Store_df has {} columns'.format(store_df.shape[1]))

Store_df has 1115 rows
Store_df has 10 columns

In [11]:
# Check info of the dataframe
store_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [12]:
# Check head of the dataframe
store_df.head(5)

   Store StoreType  ... Promo2SinceYear    PromoInterval
0      1         c  ...             NaN              NaN
1      2         a  ...          2010.0  Jan,Apr,Jul,Oct
2      3         a  ...          2011.0  Jan,Apr,Jul,Oct
3      4         c  ...             NaN              NaN
4      5         a  ...             NaN              NaN

[5 rows x 10 columns]

In [13]:
# Check tail of the dataframe
store_df.tail(5)

      Store StoreType  ... Promo2SinceYear     PromoInterval
1110   1111         a  ...          2013.0   Jan,Apr,Jul,Oct
1111   1112         c  ...             NaN               NaN
1112   1113         a  ...             NaN               NaN
1113   1114         a  ...             NaN               NaN
1114   1115         d  ...          2012.0  Mar,Jun,Sept,Dec

[5 rows x 10 columns]

In [14]:
# Check description of the dataframe
store_df.describe(include='all')

             Store StoreType  ... Promo2SinceYear    PromoInterval
count   1115.00000      1115  ...      571.000000              571
unique         NaN         4  ...             NaN                3
top            NaN         a  ...             NaN  Jan,Apr,Jul,Oct
freq           NaN       602  ...             NaN              335
mean     558.00000       NaN  ...     2011.763573              NaN
std      322.01708       NaN  ...        1.674935              NaN
min        1.00000       NaN  ...     2009.000000              NaN
25%      279.50000       NaN  ...     2011.000000              NaN
50%      558.00000       NaN  ...     2012.000000              NaN
75%      836.50000       NaN  ...     2013.000000              NaN
max     1115.00000       NaN  ...     2015.000000              NaN

[11 rows x 10 columns]

In [15]:
# Check the null values in the dataframe
store_df.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

Merging the two dataframes based on the Store column.

In [16]:
rossmann_df = pd.merge(left=rossmann_stores_df, right=store_df, on='Store', how='left')

In [17]:
rossmann_df

         Store  DayOfWeek  ... Promo2SinceYear     PromoInterval
0            1          5  ...             NaN               NaN
1            2          5  ...          2010.0   Jan,Apr,Jul,Oct
2            3          5  ...          2011.0   Jan,Apr,Jul,Oct
3            4          5  ...             NaN               NaN
4            5          5  ...             NaN               NaN
...        ...        ...  ...             ...               ...
1017204   1111          2  ...          2013.0   Jan,Apr,Jul,Oct
1017205   1112          2  ...             NaN               NaN
1017206   1113          2  ...             NaN               NaN
1017207   1114          2  ...             NaN               NaN
1017208   1115          2  ...          2012.0  Mar,Jun,Sept,Dec

[1017209 rows x 18 columns]

The rossmann_df will be the final dataframe I will be working with mostly through out this project.

For safety, I will make a copy of the rossmann_df and will perform all operations on that.

In [28]:
rossmann_df_copy = rossmann_df.copy()

## Checking Rossmann_df

In [29]:
print('Rossmann_df has {} rows'.format(rossmann_df_copy.shape[0]))
print('Rossmann_df has {} columns'.format(rossmann_df_copy.shape[1]))

Rossmann_df has 1017209 rows
Rossmann_df has 18 columns

In [30]:
# Check info of the dataframe
rossmann_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  object
 8   SchoolHoliday              1017209 non-null  int64
 9   StoreType                  1017209 non-null  object
 10  Assortment                 1017209 non-null  object
 11  CompetitionDistance        1014567 non-null  float64
 12  CompetitionOpenSinceMonth  693861 non-null   float64
 13  CompetitionOpenSinceYear   693861 non-null   float64
 14  Promo2                     1017209 non-null  int64
 15  Promo2SinceWeek            509178 non-null   float64
 16  Promo2SinceYear            509178 non-null   float64
 17  PromoInterval              509178 non-null   object
dtypes: float64(5), int64(8), object(5)
memory usage: 147.5+ MB

In [31]:
# Check head of the dataframe
rossmann_df_copy.head(5)

   Store  DayOfWeek  ... Promo2SinceYear    PromoInterval
0      1          5  ...             NaN              NaN
1      2          5  ...          2010.0  Jan,Apr,Jul,Oct
2      3          5  ...          2011.0  Jan,Apr,Jul,Oct
3      4          5  ...             NaN              NaN
4      5          5  ...             NaN              NaN

[5 rows x 18 columns]

In [32]:
# Check tail of the dataframe
rossmann_df_copy.tail(5)

         Store  DayOfWeek  ... Promo2SinceYear     PromoInterval
1017204   1111          2  ...          2013.0   Jan,Apr,Jul,Oct
1017205   1112          2  ...             NaN               NaN
1017206   1113          2  ...             NaN               NaN
1017207   1114          2  ...             NaN               NaN
1017208   1115          2  ...          2012.0  Mar,Jun,Sept,Dec

[5 rows x 18 columns]

In [33]:
# Check description of the dataframe
rossmann_df_copy.describe(include='all')

               Store     DayOfWeek  ... Promo2SinceYear    PromoInterval
count   1.017209e+06  1.017209e+06  ...   509178.000000           509178
unique           NaN           NaN  ...             NaN                3
top              NaN           NaN  ...             NaN  Jan,Apr,Jul,Oct
freq             NaN           NaN  ...             NaN           293122
mean    5.584297e+02  3.998341e+00  ...     2011.752774              NaN
std     3.219087e+02  1.997391e+00  ...        1.662870              NaN
min     1.000000e+00  1.000000e+00  ...     2009.000000              NaN
25%     2.800000e+02  2.000000e+00  ...     2011.000000              NaN
50%     5.580000e+02  4.000000e+00  ...     2012.000000              NaN
75%     8.380000e+02  6.000000e+00  ...     2013.000000              NaN
max     1.115000e+03  7.000000e+00  ...     2015.000000              NaN

[11 rows x 18 columns]

In [34]:
# Check the null values in the dataframe
rossmann_df_copy.isnull().sum()

Store                             0
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
StoreType                         0
Assortment                        0
CompetitionDistance            2642
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
PromoInterval                508031
dtype: int64

The Sales column is the dependent variable which we are to predict.

## Check all columns to fill or eliminate NaN values.

In [40]:
rossmann_df_copy.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

As I am to predict the sales of the rossmann stores so the Customer column becomes very important as in the days where customers are 0, the sales of the store will be 0, but the inverse is not true. So, I will focus on the observations having greater than 0 customers for any given day.

In [51]:
rossmann_df_final = rossmann_df_copy[(rossmann_df_copy['Customers'] > 0)]
rossmann_df_final

         Store  DayOfWeek  ... Promo2SinceYear    PromoInterval
0            1          5  ...             NaN              NaN
1            2          5  ...          2010.0  Jan,Apr,Jul,Oct
2            3          5  ...          2011.0  Jan,Apr,Jul,Oct
3            4          5  ...             NaN              NaN
4            5          5  ...             NaN              NaN
...        ...        ...  ...             ...              ...
1016776    682          2  ...             NaN              NaN
1016827    733          2  ...             NaN              NaN
1016863    769          2  ...          2012.0  Jan,Apr,Jul,Oct
1017042    948          2  ...             NaN              NaN
1017190   1097          2  ...             NaN              NaN

[844340 rows x 18 columns]

In [63]:
rossmann_df_final['PromoInterval'].unique()

array([nan, 'Jan,Apr,Jul,Oct', 'Feb,May,Aug,Nov', 'Mar,Jun,Sept,Dec'],
      dtype=object)

In [39]:
# Checking DayOfWeek column

rossmann_df_copy['DayOfWeek'].unique()

array([5, 4, 3, 2, 1, 7, 6])

This column contains all the days of the week based on number that is (1 - Monday, 2 - Tuesday, 3 - Wednesday, 4 - Thursday, 5 - Friday, 6 - Saturday, 7 - Sunday)

In [35]:
# Check the Date column
print('The data type of Date column is: {}'.format(type(rossmann_df_copy['Date'][0])))

# The Date column contains all the dates in string format, sonext objective is to convert the dates from the string format to Date, Time format.

The data type of Date column is: <class 'str'>

In [27]:
def str_to_datetime(data):
  pd.to_datetime(data)

In [ ]:
# rossmann_df_copy = str_to_datetime(rossmann_df_copy['Date'])